@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@1,500&family=Montserrat:ital,wght@0,500;1,700&family=Outfit:wght@500&family=Poppins:ital,wght@0,400;0,600;1,200&family=Raleway:wght@200;300&family=Roboto:ital,wght@0,300;0,700;1,100;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    --padding-inline-section: 20px
}


body {
    background-color: var(--Violet);
    /* background-image: url(images/bg-desktop.svg); */
    object-fit: contain;
    flex-wrap: wrap;
    font-family: 'poppins', sans-serif;

    /* flex-wrap: wrap; */

}

.header_section {}

.flex {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1480px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
    margin-top: 40px;


    flex-wrap: wrap;

}

header {
    padding: 50px var(--padding-inline-section) 0;
}

.left_side img {
    width: 100%;

}

.right_side {
    max-width: 40vw;
    padding: 30px 20px 0px 60px;
}

.right_side h1 {
    font-size: 60px;
    color: #fff;
    line-height: 90px;
}

.right_side p {
    color: rgb(212, 201, 201);
    font-size: 22px;
    line-height: 30px;
    margin-right: 30px;
    margin-top: 20px;
    display: flex;
}

.link {
    display: flex;
    justify-content: end;
    margin-top: 90px;
    padding: 10px 20px;
    gap: 20px;
    align-items: center;
}

.btn {
    padding: 15px 60px;
    margin-left: 10px;
    border-radius: 25px;
    cursor: pointer;
    color: var(--Violet);
    margin-top: 20px;
}

.btn:hover {
    color: #fff;
    background-color: var(--Soft-Magenta);
}

.fb,
.tw,
.ins {
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

.fb:hover {
    border: 1px solid var(--Soft-Magenta);
    color: var(--Soft-Magenta);
}

.tw:hover {
    border: 1px solid var(--Soft-Magenta);
    color: var(--Soft-Magenta);
}

.ins:hover {
    border: 1px solid var(--Soft-Magenta);
    color: var(--Soft-Magenta);
}



.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Styles for devices with a maximum width of 480px */
@media screen and (max-width:768px) {

    .header_section {
        flex-direction: column;

    }

    .right_side {
        max-width: 100vw;
        padding: 0px 0px 0px 0px;
        font-size: 10px;
    }

    .right_side h1 {
        font-size: 35px;
        color: #fff;
        line-height: normal;
        text-align: center;

    }

    .right_side p {
        text-align: center;
        font-size: 23px;
    }

    .btn {
        padding: 15px 80px;
        margin-left: 100px;
        margin-top: 20px;
    }

    .link {
        display: flex;
        justify-content: center;
        margin-top: 60px;
        gap: 10px;
        align-items: center;
        margin-bottom: 30px;
    }

    .nav img {
        width: 40%;
        margin-bottom: 30px;
    }
}
